@{
    ViewData["Title"] = "Confirmação de apagar o Contato";
}

<h3>Deseja apagar esse contato?</h3>

<a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Delete">Confirma</a>


